# 忽略环境文件夹
myenv/
__pycache__/
models/
releases/
huggingface/

# 忽略特定的配置文件和图片
api_settings.json
saved_prompts.csv
install_temp.txt

# 忽略系统特定的文件
Thumbs.db
.DS_Store
.vs/
*.pyproj
*.user
*.sln

flash_attn-2.4.2+cu118torch2.0cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
saved_prompts.csv
